$gun_metal: #222831;
$onyx: #393E46;
$current: #1D767E;
$verdigris: #00ADB5;
$white: #EEEEEE;
$powder: #F7F7F1;

// Centers the menu and displays its content horizontally
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Menu
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $gun_metal;
  font-size: 1.75em;
}

li {
  float: left;

  a {
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &.active {
      background-color: $onyx;
    }

    &:hover:not(.active) {
      background-color: $onyx;
    }
  }
}