$gun_metal: #222831;
$onyx: #393E46;
$current: #1D767E;
$verdigris: #00ADB5;
$white: #EEEEEE;
$powder: #F7F7F1;

body {
  text-decoration: none;

  .content {
    background-color: $powder;
    color: $gun_metal;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: nowrap;
  }

  .text {
    text-align: center;
  }

  h5 {
    animation-delay: 1.5s;
  }
}