$bg: #2D3142;
$grey: #BFC0C0;
$blue: #4F5D75;
$white: #FFFFFF;
$orange: #EF8354;

body {
  background-color: $bg;

  h1 {
    color: $white;
    font-size: 3em;
  }
  h2 {
    color: $white;
    font-size: 2em;
  }
}